html, body, .container-fluid, .row {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.row .col-md-3 {
    height: 100%;
    background-color: red;
}

.row .col-md-9 {
    height: 100%;
    background-color: blue;
}